* {
  margin: 0;
  padding: 0;
}

.Navigation {
  display: flex;
  justify-content: center;
  font-size: 40px;
  background-color: #000;
  padding-top: 50px;
  padding-bottom: 50px;
  text-decoration: none;
}

.NavigationItem {
  display: block;
  display: flex;
}

.Home,
.Movies {
  text-decoration: none;
  color: #fff;
  margin-right: 35px;
}
.Home:hover,
.Home:focus {
  color: orange;
}

.Movies:hover,
.Movies:focus {
  color: orange;
}
